.header {
	padding: 10px 20px;
	height: 100%;
	background-color: var(--primary);
}

.header * {
	color: var(--white);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo svg {
	height: 45px;
	width: 120px;
}

.linksBox {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: end;
}

.link {
	margin: 0 20px;
}
