.postContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	margin: 5px 10px;
	border-radius: 20px;
	background-color: rgba(158, 62, 62, 0.6);
}

.postContainer span {
	display: block;
}

.btnContainer .btn:last-child {
	margin-left: 10px;
}

.btn {
	border: none;
	border-radius: 10px;
	background-color: rgb(106, 95, 168);
	padding: 10px;
	color: #fff;
	cursor: pointer;
}

.btn_dlt {
	background-color: red;
}

.btn:hover {
	background-color: rgb(89, 75, 170);
}
.btn_dlt:hover {
	background-color: rgb(223, 20, 20);
}
