.img_container input {
	display: none;
}

.img_container > div > label {
	cursor: pointer;
}

.img_container {
	position: relative;
	margin: 10px;
}

.img_btn {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background-color: red;
	padding: 2px 6px;
	border-radius: 5px;
	margin: 0;
}

.img {
	width: 120px;
	height: 120px;
	border-radius: 5px;
	overflow: hidden;
}

.img_error {
	border: 1px solid red;
}
