.counter {
	margin-bottom: 5px;
}
.counterNumber {
	margin: 0 5px;
	font-size: 20px;
}

.counterBtn {
	padding: 5px;
	background-color: var(--grey);
	font-size: 20px;
	line-height: 20px;
	border-radius: 5px;
}
.buyButton {
	padding: 5px;
	background-color: var(--grey);
	font-size: 20px;
	line-height: 20px;
	border-radius: 7px;
}
