.main_shop {
	padding: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: "search search" "type type" "aside shop" "paginate paginate";
	gap: 20px;
}

.search {
	grid-area: search;
}

.type {
	grid-area: type;
}
.aside {
	grid-area: aside;
}
.shop {
	grid-area: shop;
	justify-self: center;
}

.pagination {
	grid-area: paginate;
}
