.admin {
	width: 100%;
	margin: 20px;

	hr {
		margin: 20px 0;
	}
}

.admin_types {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	overflow: auto;
	transition: all 0.5s ease;
}

.admin_items {
	margin: 0 auto 20px auto;
	max-width: 1160px;

	.on_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		margin-right: 20px;
	}
}

.items_fields {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 70px;

	div:not(:last-child) {
		border-right: 1px solid #000;
		margin-right: 5px;
		width: 145px;
	}

	div {
		font-size: 14px;
		font-weight: bold;
		text-align: start;
		padding: 3px 10px;
		min-height: 100%;
		cursor: pointer;
	}
}

[data-entity="false"] {
	max-height: 0px;
	padding: 0;
}
[data-entity="true"] {
	max-height: 1000px;
	padding-bottom: 10px;
}

.sortIcon {
	display: inline-block;
	margin-right: 3px;

	&[data-sort-min="true"] {
		transform: rotate(180deg);
	}
}

.sortDisabled {
	display: none;
}

@media (max-width: 1150px) {
	.items_fields {
		div:nth-child(5) {
			display: none;
		}
	}
}

@media (max-width: 1010px) {
	.items_fields {
		div:nth-child(6) {
			display: none;
		}
	}
}

@media (max-width: 860px) {
	.items_fields {
		div:nth-child(3),
		div:nth-child(7) {
			display: none;
		}
	}
}

@media (max-width: 570px) {
	.items_fields {
		div:nth-child(8) {
			display: none;
		}
		div:nth-child(4) {
			border: none;
		}
	}
}
