.item_container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.item {
	cursor: pointer;
}

[data-active="true"] {
	background-color: $primary-color;
	color: white;
}
