@import "normalize.css";
@import "sanitize.css";
@import "null.css";
@import "fontface";

body {
	color: $basicColor;
	font-family: "OpenSans-Regular", sans-serif;
}

::-webkit-resizer,
::-webkit-scrollbar {
	width: 7px;
	position: absolute;
}
::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 7px;
	height: 0;
	position: absolute;
}

::-webkit-scrollbar-thumb {
	position: absolute;
	border-radius: 20px;
	background-color: $primary-color;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
	width: 7px;
	border: 1px solid $primary-color;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	position: absolute;
}

.error {
	color: red;
}
